.header {
  height: 3.5rem;
  width: 100vw;    
  border: 2px solid #000;  
  text-align: center;     
  display: flex;  
  justify-content: space-between;
  align-items: center;
}


.headerLeft {
  margin-left: 2%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRight {
  margin-right: 2%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}



.link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

@media(min-width: 40rem) {
  .headerLeft {
    font-size: 1.5rem;
  }
}